[*.cs]

# IDE0034: Simplify 'default' expression
dotnet_diagnostic.IDE0034.severity = silent

# CA1001: Types that own disposable fields should be disposable
dotnet_diagnostic.CA1001.severity = warning

# CA1200: Avoid using cref tags with a prefix
dotnet_diagnostic.CA1200.severity = suggestion

# CA1309: Use ordinal string comparison
dotnet_diagnostic.CA1309.severity = suggestion

# CA1805: Do not initialize unnecessarily
dotnet_diagnostic.CA1805.severity = suggestion

# CA1000: Do not declare static members on generic types
dotnet_diagnostic.CA1000.severity = suggestion

# CA1010: Generic interface should also be implemented
dotnet_diagnostic.CA1010.severity = suggestion

# CA1036: Override methods on comparable types
dotnet_diagnostic.CA1036.severity = suggestion

# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = suggestion

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = suggestion

# CA1304: Specify CultureInfo
dotnet_diagnostic.CA1304.severity = suggestion

# CA1310: Specify StringComparison for correctness
dotnet_diagnostic.CA1310.severity = suggestion

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = suggestion

# CA1708: Identifiers should differ by more than case
dotnet_diagnostic.CA1708.severity = suggestion

# CA1710: Identifiers should have correct suffix
dotnet_diagnostic.CA1710.severity = suggestion

# CA1711: Identifiers should not have incorrect suffix
dotnet_diagnostic.CA1711.severity = suggestion

# CA1712: Do not prefix enum values with type name
dotnet_diagnostic.CA1712.severity = suggestion

# CA1715: Identifiers should have correct prefix
dotnet_diagnostic.CA1715.severity = suggestion

# CA1720: Identifier contains type name
dotnet_diagnostic.CA1720.severity = suggestion

# CA1716: Identifiers should not match keywords
dotnet_diagnostic.CA1716.severity = suggestion

# CA1725: Parameter names should match base declaration
dotnet_diagnostic.CA1725.severity = suggestion

# CA1727: Use PascalCase for named placeholders
dotnet_diagnostic.CA1727.severity = suggestion

# CA1838: Avoid 'StringBuilder' parameters for P/Invokes
dotnet_diagnostic.CA1838.severity = suggestion

# CA1848: Use the LoggerMessage delegates
dotnet_diagnostic.CA1848.severity = suggestion

# CA2201: Do not raise reserved exception types
dotnet_diagnostic.CA2201.severity = suggestion

# CA2215: Dispose methods should call base class dispose
dotnet_diagnostic.CA2215.severity = suggestion

# CA2229: Implement serialization constructors
dotnet_diagnostic.CA2229.severity = suggestion

# CA2251: Use 'string.Equals'
dotnet_diagnostic.CA2251.severity = suggestion

# CA3061: Do Not Add Schema By URL
dotnet_diagnostic.CA3061.severity = suggestion

# CA3076: Insecure XSLT script processing.
dotnet_diagnostic.CA3076.severity = suggestion

# CA3075: Insecure DTD processing in XML
dotnet_diagnostic.CA3075.severity = suggestion

# CA3077: Insecure Processing in API Design, XmlDocument and XmlTextReader
dotnet_diagnostic.CA3077.severity = suggestion

# CA3147: Mark Verb Handlers With Validate Antiforgery Token
dotnet_diagnostic.CA3147.severity = suggestion

# CA5350: Do Not Use Weak Cryptographic Algorithms
dotnet_diagnostic.CA5350.severity = suggestion

# CA5351: Do Not Use Broken Cryptographic Algorithms
dotnet_diagnostic.CA5351.severity = suggestion

# CA5360: Do Not Call Dangerous Methods In Deserialization
dotnet_diagnostic.CA5360.severity = suggestion

# CA5359: Do Not Disable Certificate Validation
dotnet_diagnostic.CA5359.severity = suggestion

# CA5363: Do Not Disable Request Validation
dotnet_diagnostic.CA5363.severity = suggestion

# CA5364: Do Not Use Deprecated Security Protocols
dotnet_diagnostic.CA5364.severity = suggestion

# CA5365: Do Not Disable HTTP Header Checking
dotnet_diagnostic.CA5365.severity = suggestion

# CA5366: Use XmlReader for 'DataSet.ReadXml()'
dotnet_diagnostic.CA5366.severity = suggestion

# CA5368: Set ViewStateUserKey For Classes Derived From Page
dotnet_diagnostic.CA5368.severity = suggestion

# CA5369: Use XmlReader for 'XmlSerializer.Deserialize()'
dotnet_diagnostic.CA5369.severity = suggestion

# CA5370: Use XmlReader for XmlValidatingReader constructor
dotnet_diagnostic.CA5370.severity = suggestion

# CA5371: Use XmlReader for 'XmlSchema.Read()'
dotnet_diagnostic.CA5371.severity = suggestion

# CA5372: Use XmlReader for XPathDocument constructor
dotnet_diagnostic.CA5372.severity = suggestion

# CA5373: Do not use obsolete key derivation function
dotnet_diagnostic.CA5373.severity = suggestion

# CA5374: Do Not Use XslTransform
dotnet_diagnostic.CA5374.severity = suggestion

# CA5379: Ensure Key Derivation Function algorithm is sufficiently strong
dotnet_diagnostic.CA5379.severity = suggestion

# CA5384: Do Not Use Digital Signature Algorithm (DSA)
dotnet_diagnostic.CA5384.severity = suggestion

# CA5385: Use Rivest–Shamir–Adleman (RSA) Algorithm With Sufficient Key Size
dotnet_diagnostic.CA5385.severity = suggestion

# CA5397: Do not use deprecated SslProtocols values
dotnet_diagnostic.CA5397.severity = suggestion
